@model  IPagedList<DuAnRapChieuPhim.Models.HoaDon>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Bill";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar
                </div>

            </div>
        </div>-->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
        <div class="container-fluid py-1 px-3">
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                    <div class="input-group input-group-outline">
                        <label class="form-label">Type here...</label>
                        <input type="text" class="form-control">
                    </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
        <body>
            <table class="table">
                <tr>
                    <th>
                        Họ tên
                    </th>
                    <th>
                        Số điện thoại
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Mã KH
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoTen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoDienThoai)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaKH)
                        </td>
                        <td>
                        
                            <a  class="btn btn-info" href="@Url.Action("DetailsHD","Admin",new {id = item.MaHoaDon})">
                                Chi tiết
                            </a> 

                        </td>
                    </tr>
                }


            </table>
            <div class="pagination justify-content-center">
                <ul class="pagination">
                    @if (Model.PageCount > 1)
                    {
                        <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                            <a class="page-link" href="@Url.Action("Bill", new { page = 1, size = ViewBag.SelectedSize })">Đầu</a>
                        </li>
                        <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                            <a class="page-link" href="@Url.Action("Bill", new { page = Model.PageNumber - 1, size = ViewBag.SelectedSize })">Trước</a>
                        </li>
                        for (int i = 1; i <= Model.PageCount; i++)
                        {
                            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                <a class="page-link" href="@Url.Action("Bill", new { page = i, size = ViewBag.SelectedSize })">@i</a>
                            </li>
                        }
                        <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                            <a class="page-link" href="@Url.Action("Bill", new { page = Model.PageNumber + 1, size = ViewBag.SelectedSize })">Sau</a>
                        </li>
                        <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                            <a class="page-link" href="@Url.Action("Bill", new { page = Model.PageCount, size = ViewBag.SelectedSize })">Cuối</a>
                        </li>
                    }
                </ul>
            </div>
    </div>
</main>
<div class="modal fade" id="addMovieModal" tabindex="-1" role="dialog" aria-labelledby="addMovieModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMovieModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Your form goes here -->
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
                {

                    @Html.AntiForgeryToken();
                    <!-- Add form fields here -->
                    <div class="form-group">
                        <label for="MaHoaDon" class="control-label">Mã Hóa Đơn</label>
                        <input type="text" id="MaHoaDon" name="MaHoaDon" class="form-control" />
                        <span class="text-danger"> <!-- Validation message goes here --> </span>
                    </div>
                    <div class="form-group">
                        <label for="HoTen" class="control-label">Họ Tên</label>
                        <input type="text" id="HoTen" name="HoTen" class="form-control" />
                        <span class="text-danger"> <!-- Validation message goes here --> </span>
                    </div>
                    <div class="form-group">
                        <label for="SoDienThoai" class="control-label">SoDienThoai</label>
                        <input type="text" id="SoDienThoai" name="SoDienThoai" class="form-control" />
                        <span class="text-danger"> <!-- Validation message goes here --> </span>
                    </div>
                    <div class="form-group">
                        <label for="Email" class="control-label">Email</label>
                        <input type="file" id="Email" name="Email" class="form-control" />
                        <span class="text-danger"> <!-- Validation message goes here --> </span>
                    </div>
                    <div class="form-group">
                        <label for="MaKH" class="control-label">Mã Khách Hàng</label>
                        <input type="file" id="MaKH" name="MaKH" class="form-control" />
                        <span class="text-danger"> <!-- Validation message goes here --> </span>
                    </div>





                    <!-- Add other form fields as needed -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary huy-button" data-dismiss="modal">Close</button>
                    </div>


                }
                </div>
                

        </div>

    </div>

</div>
                
<input type="hidden" id="selectedItemId" />

<script>
    function resetModalState() {
        $("#MaHoaDon,#MaKH,#HoTen, #SoDienThoai, #Email, #addMovieModalLabel").val("");
        $("#saveChangesButton, #ThemButton").show();
        $("#MaHoaDon, #MaKH, #HoTen, #SoDienThoai,#Email").prop("disabled", false);
    }
    $(document).ready(function () {


        $(".createNewButton").click(function () {
            resetModalState();
            $("#addMovieModalLabel").val("Thêm");
            $("#saveChangesButton").hide();
            $("#addMovieModal").modal("show");
        });
    });

    $(document).ready(function () {
        $("#saveChangesButton").click(function () {
            // Gọi hành động sửa ở đây
            $("#myForm").attr("action", "/XuLy/Editaction");
            $("#myForm").submit();
        });

        $("#ThemButton").click(function () {
            // Gọi hành động thêm ở đây
            $("#myForm").attr("action", "/XuLy/AddHoaDon");
            $("#myForm").submit();
        });
    });
    $(document).ready(function () {
        $(".edit-button").click(function () {
            resetModalState();
            var itemId = $(this).data("id");
            $("#selectedItemId").val(itemId);

            // Gửi yêu cầu Ajax để lấy dữ liệu cho mục đã chọn
            $.ajax({
                url: '/XuLy/EditBill', // Thay thế bằng tên thực của controller và action
                type: 'GET',
                data: { id: itemId },
                success: function (data) {
                    $("#addMovieModalLabel").val("Sửa");
                    // Điền dữ liệu vào các trường trong modal
                    $("#MaHoaDon").val(data.hoaDon.MaHoaDon);
                    $("#MaKH").val(data.hoaDon.MaKH);
                    $("#HoTen").val(data.hoaDon.HoTen);
                    $("#SoDienThoai").val(data.hoaDon.SoDienThoai);
                    $("#Email").val(data.hoaDon.Email);
                    $("#ThemButton").hide();
                    // Hiển thị modal
                    $("#addMovieModal").modal("show");
                },
                error: function () {
                    alert("Lỗi khi lấy dữ liệu.");
                }
            });
        });
    });
    $(document).ready(function () {
        $(".details-button").click(function () {
            var itemId = $(this).data("id");
            $("#selectedItemId").val(itemId);

            // Gửi yêu cầu Ajax để lấy dữ liệu cho mục đã chọn
            $.ajax({
                url: '/XuLy/EditBill', // Thay thế bằng tên thực của controller và action
                type: 'GET',
                data: { id: itemId },
                success: function (data) {
                    $("#addMovieModalLabel").val("Chi tiết");
                    $("#MaHoaDon").val(data.hoaDon.MaHoaDon);
                    $("#MaKH").val(data.hoaDon.MaKH);
                    $("#HoTen").val(data.hoaDon.HoTen);
                    $("#SoDienThoai").val(data.hoaDon.SoDienThoai);
                    $("#Email").val(data.hoaDon.Email);
                    $("#saveChangesButton").hide();
                    $("#ThemButton").hide();
                    // Tắt khả năng chỉnh sửa các trường dữ liệu
                    $("#MaHoaDon").prop("disabled", true);
                    $("#MaKH").prop("disabled", true);
                    $("#HoTen").prop("disabled", true);
                    $("#SoDienThoai").prop("disabled", true);
                    $("#Email").prop("disabled", true);
                    $("#MaHoaDon, #MaKH, #HoTen, #SoDienThoai, #Email, #addMovieModalLabel").prop("disabled", true);


                    // Hiển thị modal
                    $("#addMovieModal").modal("show");
                },
                error: function () {
                    alert("Lỗi khi lấy dữ liệu.");
                }
            });
        });
    });
    $(document).ready(function () {
        $('.delete-button').click(function (e) {
            e.preventDefault();
            var deleteUrl = $(this).attr('href');
            $('#confirmDeleteButton').attr('href', deleteUrl);
            $('#confirmDeleteModal').modal('show');
        });
    });
    $(document).ready(function () {
        $('.huy-button').click(function (e) {
            $('#confirmDeleteModal').modal('hide');
            $('#addMovieModal').modal('hide');
        });
    });

</script>



