@model  IPagedList<DuAnRapChieuPhim.Models.Phim>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Movie";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar
                </div>

            </div>
        </div>-->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
        <div class="container-fluid py-1 px-3">
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                    <div class="input-group input-group-outline">
                        <label class="form-label">Type here...</label>
                        <input type="text" class="form-control">
                    </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">


        <button type="button" class="btn btn-primary createNewButton" data-toggle="modal" data-target="#addMovieModal">
            Thêm phim mới
        </button>
        </p>
        <p>
            <table class="table">
                <tr>
                    <th>
                        Tên phim
                    </th>
                    <th>
                        Ngày ra mắt
                    </th>
                    <th>
                        Trạng thái
                    </th>
                    <th>
                        Thể loại
                    </th>
                    <th>
                        Thời lượng
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenPhim)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayRaMat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TrangThai)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TheLoai)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ThoiLuong) phút
                        </td>
                       
                        <td>
                            <button type="button" class="btn btn-primary edit-button" data-toggle="modal" data-target="#editMovieModal" data-id="@item.MaPhim">
                                Sửa
                            </button>                          |
                            <button type="button" class="btn btn-info details-button" data-toggle="modal" data-target="#detailsMovieModal" data-id="@item.MaPhim">
                                Chi tiết
                            </button> |
                            <button type="button" class="btn btn-danger delete-button" data-toggle="modal" data-target="#deleteConfirmationModal" data-id="@item.MaPhim">
                                Ngưng chiếu
                            </button>
                        </td>
                    </tr>
                }



            </table>
            <div class="pagination justify-content-center">
                <ul class="pagination">
                    @if (Model.PageCount > 1)
                    {
                        <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                            <a class="page-link" href="@Url.Action("Movie", new { page = 1, size = ViewBag.SelectedSize })">Đầu</a>
                        </li>
                        <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                            <a class="page-link" href="@Url.Action("Movie", new { page = Model.PageNumber - 1, size = ViewBag.SelectedSize })">Trước</a>
                        </li>
                        for (int i = 1; i <= Model.PageCount; i++)
                        {
                            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                <a class="page-link" href="@Url.Action("Movie", new { page = i, size = ViewBag.SelectedSize })">@i</a>
                            </li>
                        }
                        <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                            <a class="page-link" href="@Url.Action("Movie", new { page = Model.PageNumber + 1, size = ViewBag.SelectedSize })">Sau</a>
                        </li>
                        <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                            <a class="page-link" href="@Url.Action("Movie", new { page = Model.PageCount, size = ViewBag.SelectedSize })">Cuối</a>
                        </li>
                    }
                </ul>
            </div>
    </div>
</main>
<div class="modal fade" id="addMovieModal" tabindex="-1" role="dialog" aria-labelledby="addMovieModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMovieModalLabel">Add New Movie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
                {

                    @Html.AntiForgeryToken();
                    <div class="form-group">
                        <label for="TenPhim" class="control-label">Tên phim</label>
                        <input type="text" id="TenPhim" name="TenPhim" class="form-control" />
                        <span class="text-danger"> <!-- Validation message goes here --> </span>
                    </div>
                    <div class="form-group">
                        <label for="Ngay" class="control-label">Ngày ra mắt phim</label>
                        <input type="text" id="Ngay" name="Ngay" class="form-control" />
                        <span class="text-danger"> <!-- Validation message goes here --> </span>
                    </div>
                    <div class="form-group">
                        <label for="TrangThai" class="control-label">Trạng thái </label>
                        <input type="text" id="TrangThai" name="TrangThai" class="form-control" />
                        <span class="text-danger"> <!-- Validation message goes here --> </span>
                    </div>

                    <div class="form-group">
                        <label for="TheLoai" class="control-label">Thể loại</label>
                        <input type="text" id="TheLoai" name="TheLoai" class="form-control" />
                        <span class="text-danger"> <!-- Validation message goes here --> </span>
                    </div>
                    <div class="form-group">
                        <label for="ThoiLuong" class="control-label">Thời lượng</label>
                        <input type="text" id="ThoiLuong" name="ThoiLuong" class="form-control" />
                        <span class="text-danger"> <!-- Validation message goes here --> </span>
                    </div>
                    <div class="form-group">
                        <label for="DienVien" class="control-label">Diễn viên</label>
                        <input type="text" id="DienVien" name="DienVien" class="form-control" />
                        <span class="text-danger"> <!-- Validation message goes here --> </span>
                    </div>

                    <div class="form-group">
                        <label for="DaoDien" class="control-label">Đạo diễn</label>
                        <input type="text" id="DaoDien" name="DaoDien" class="form-control" />
                        <span class="text-danger"> <!-- Validation message goes here --> </span>
                    </div>
                    <div class="form-group">
                        <label for="NgonNgu" class="control-label">Ngôn ngữ</label>
                        <input type="text" id="NgonNgu" name="NgonNgu" class="form-control" />
                        <span class="text-danger"> <!-- Validation message goes here --> </span>
                    </div>
                    <div class="form-group">
                        <label for="AnhBia" class="control-label">Ảnh Bìa</label>

                        <!-- Sử dụng thẻ <input type="file"> để chọn hình ảnh -->
                        <input type="file" id="AnhBia" name="AnhBia" class="form-control-file" />

                        <span class="text-danger"><!-- Validation message goes here --></span>
                    </div>
                    <div class="form-group">
                        <label for="Video" class="control-label">Link Video</label>
                        <input type="text" id="Video" name="Video" class="form-control" />
                        <span class="text-danger"> <!-- Validation message goes here --> </span>
                    </div>


                    <!-- Add other form fields as needed -->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary huy-button" data-dismiss="modal">Close</button>
                        <button id="saveChangesButton" type="submit" class="btn btn-primary">Save changes</button>
                        <button id="ThemButton" type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận ngưng bán</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn ngưng bán sản phẩm này ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary huy-button" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Chắc chắn</button>

            </div>
        </div>
    </div>
</div>
<input type="hidden" id="selectedItemId" />
<script>
    function resetModalState() {
        $(" #TenPhim, #Ngay,#TrangThai,#TheLoai,#ThoiLuong,#DienVien,#DaoDien,#NgonNgu,#Video,#AnhBia, #addMovieModalLabel").val("");
        $("#saveChangesButton, #ThemButton").show();
        $("#TenPhim, #Ngay,#TrangThai,#TheLoai,#ThoiLuong,#DienVien,#DaoDien,#NgonNgu,#Video,#AnhBia,  #addMovieModalLabel").prop("disabled", false);
    }
    $(document).ready(function () {


        $(".createNewButton").click(function () {
            resetModalState();
            $("#addMovieModalLabel").val("Thêm");
            $("#saveChangesButton").hide();
            $("#addMovieModal").modal("show");
        });
    });
    $(document).ready(function () {
        $("#saveChangesButton").click(function () {
            // Gọi hành động sửa ở đây
            $("#myForm").attr("action", "/XuLy/EditMovie");
            $("#myForm").submit();
        });

        $("#ThemButton").click(function () {
            // Gọi hành động thêm ở đây
            $("#myForm").attr("action", "/XuLy/AddMovie");
            $("#myForm").submit();
        });
    });
    $(document).ready(function () {
        $(".edit-button").click(function () {
            resetModalState();
            var itemId = $(this).data("id");
            $("#selectedItemId").val(itemId);

            // Gửi yêu cầu Ajax để lấy dữ liệu cho mục đã chọn
            $.ajax({
                url: '/XuLy/EditMovie', // Thay thế bằng tên thực của controller và action
                type: 'GET',
                data: { id: itemId },
                success: function (data) {
                    $("#addMovieModalLabel").val("Sửa");
                    // Điền dữ liệu vào các trường trong modal
                    $("#TenPhim").val(data.phim.TenPhim);
                    var timestamp = parseInt(data.phim.Ngay.substr(6));

                    // Create a new Date object using the timestamp
                    var date = new Date(timestamp);

                    // Format the date as desired (e.g., 'YYYY-MM-DD')
                    var formattedDate = date.toISOString().split('T')[0];

                    // Set the formatted date to the input field
                    $("#Ngay").val(formattedDate);
                    $("#TrangThai").val(data.phim.TrangThai);
                    $("#TheLoai").val(data.phim.TheLoai);
                    $("#ThoiLuong").val(data.phim.ThoiLuong);
                    $("#DienVien").val(data.phim.DienVien);
                    $("#DaoDien").val(data.phim.DaoDien);
                    $("#NgonNgu").val(data.phim.NgonNgu);
                    $("#Video").val(data.phim.Video);
                    $("#ThemButton").hide();
                    // Hiển thị modal
                    $("#addMovieModal").modal("show");
                },
                error: function () {
                    alert("Lỗi khi lấy dữ liệu.");
                }
            });
        });
    });
    $(document).ready(function () {
        $(".details-button").click(function () {
            var itemId = $(this).data("id");
            $("#selectedItemId").val(itemId);

            // Gửi yêu cầu Ajax để lấy dữ liệu cho mục đã chọn
            $.ajax({
                url: '/XuLy/EditMovie', // Thay thế bằng tên thực của controller và action
                type: 'GET',
                data: { id: itemId },
                success: function (data) {
                    $("#addMovieModalLabel").val("Chi tiết");
                    // Điền dữ liệu vào các trường trong modal
                    $("#TenPhim").val(data.phim.TenPhim);
                    var timestamp = parseInt(data.phim.Ngay.substr(6));

                    // Create a new Date object using the timestamp
                    var date = new Date(timestamp);

                    // Format the date as desired (e.g., 'YYYY-MM-DD')
                    var formattedDate = date.toISOString().split('T')[0];

                    // Set the formatted date to the input field
                    $("#Ngay").val(formattedDate);
                    $("#TrangThai").val(data.phim.TrangThai);
                    $("#TheLoai").val(data.phim.TheLoai);
                    $("#ThoiLuong").val(data.phim.ThoiLuong);
                    $("#DienVien").val(data.phim.DienVien);
                    $("#DaoDien").val(data.phim.DaoDien);
                    $("#NgonNgu").val(data.phim.NgonNgu);
                    $("#Video").val(data.phim.Video);
                    $("#ThemButton").hide();
                    // Tắt khả năng chỉnh sửa các trường dữ liệu
                    $("#TenPhim, #Ngay,#TrangThai,#TheLoai,#ThoiLuong,#DienVien,#DaoDien,#NgonNgu,#Video,#AnhBia, #addMovieModalLabel").prop("disabled", true);
                    // Hiển thị modal
                    $("#addMovieModal").modal("show");
                },
                error: function () {
                    alert("Lỗi khi lấy dữ liệu.");
                }
            });
        });
    });
    $("#confirmDeleteButton").click(function (e) {
        e.preventDefault();
        // Lấy giá trị từ input có id là "selectedItemId"
        var selectedItemId = $("#selectedItemId").val();

        // Kiểm tra xem giá trị có tồn tại không
        if (selectedItemId) {
            // Gọi action trong controller với giá trị selectedItemId
            // Thay đổi đường dẫn và phương thức HTTP tùy thuộc vào ứng dụng của bạn
            $.ajax({
                url: "/XuLy/DLMovie", // Đường dẫn đến action trong controller
                method: "POST", // Phương thức HTTP (POST, GET, PUT, DELETE, etc.)
                data: { itemId: selectedItemId }, // Dữ liệu gửi đi (nếu cần)
                success: function (response) {
                    // Xử lý khi action thành công
                    console.log("Action thành công", response);
                    window.location.href = "/Admin/Admin/Movie";
                },
                error: function (error) {
                    // Xử lý khi có lỗi xảy ra
                    console.error("Lỗi khi gọi action", error);
                }
            });
        } else {
            // Thông báo nếu giá trị không tồn tại
            console.warn("Không có giá trị được chọn");
        }
    });
    $(document).ready(function () {
        $('.delete-button').click(function (e) {
            e.preventDefault();
            var itemId = $(this).data("id");
            $("#selectedItemId").val(itemId);
            $('#confirmDeleteModal').modal('show');
        });
    });
    $(document).ready(function () {
        $('.huy-button').click(function (e) {
            $('#confirmDeleteModal').modal('hide');
            $('#addMovieModal').modal('hide');
        });
    });




</script>